{
	"blog.article.feed": {
		"description": {
			"0": {
				"altlabel": "",
				"element": "08795744-c2dc-4a68-8252-4e21c4c4c774",
				"separated_by": "separator=[ ]",
				"showlabel": "0"
			},
			"1": {
				"altlabel": "",
				"display": "all",
				"element": "2e3c9e69-1f9e-4647-8d13-4e88094d2790",
				"separated_by": "tag=[<div>%s<\/div>]",
				"showlabel": "0"
			},
			"2": {
				"altlabel": "",
				"element": "fc5a6788-ffae-41d9-a812-3530331fef64",
				"layout": "",
				"link_to_item": "0",
				"order": "",
				"separated_by": "separator=[ ]",
				"showlabel": "1"
			}
		}
	},
	"blog.article.full": {
		"top": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"width": "",
				"height": "",
				"link_to_item": "0",
				"element": "c26feca6-b2d4-47eb-a74d-b067aaae5b90"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			},
			"2": {
				"showlabel": "0",
				"altlabel": "on",
				"date_format": "custom",
				"custom_format": "%A, %d %B %Y",
				"element": "_itemcreated"
			},
			"3": {
				"showlabel": "1",
				"altlabel": "Posted in",
				"linked": "1",
				"separated_by": "separator=[, ]",
				"element": "_itemcategory"
			}
		},
		"subtitle": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[, ]",
				"element": "08795744-c2dc-4a68-8252-4e21c4c4c774"
			}
		},
		"content": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[<div>%s<\/div>]",
				"display": "all",
				"element": "2e3c9e69-1f9e-4647-8d13-4e88094d2790"
			}
		},
		"taxonomy": {
			"0": {
				"showlabel": "1",
				"altlabel": "",
				"linked": "1",
				"separated_by": "separator=[, ]",
				"element": "_itemtag"
			}
		},
		"bottom": {
			"0": {
				"showlabel": "0",
				"altlabel": "Share Article",
				"fbheight": "20",
				"fbwidth": "100",
				"fbshow_faces": "false",
				"fblayout": "button_count",
				"fbaction": "like",
				"fbcolorscheme": "light",
				"fbref": "",
				"twvia": "",
				"twtext": "",
				"twrelated": "",
				"element": "d857d939-47e9-4303-8f37-93b0cecace54"
			}
		},
		"related": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"order": {
					"0": "_itemcreated",
					"1": "",
					"2": "",
					"3": "",
					"4": "",
					"5": "",
					"6": ""
				},
				"layout": "",
				"link_to_item": "1",
				"separated_by": "tag=[<li>%s<\/li>]",
				"element": "65b7851d-199f-4ac6-95a7-409ad1bca488"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[<li>%s<\/li>]",
				"element": "fdcbebaa-e61a-462d-963e-aff74ff95499"
			}
		},
		"author": {
			"0": {
				"showlabel": "1",
				"altlabel": "About the Author",
				"order": {
					"0": "_itemcreated",
					"1": "",
					"2": "",
					"3": "",
					"4": "",
					"5": "",
					"6": ""
				},
				"layout": "related",
				"link_to_item": "0",
				"separated_by": "tag=[<div>%s<\/div>]",
				"element": "fc5a6788-ffae-41d9-a812-3530331fef64"
			}
		}
	},
	"blog.article.related": {
		"content": {
			"0": {
				"altlabel": "",
				"display": "all",
				"element": "2e3c9e69-1f9e-4647-8d13-4e88094d2790",
				"separated_by": "tag=[<div>%s<\/div>]",
				"showlabel": "0"
			}
		},
		"media": {
			"0": {
				"altlabel": "",
				"element": "cdce6654-4e01-4a7f-9ed6-0407709d904c",
				"height": "",
				"showlabel": "0",
				"width": ""
			}
		},
		"subtitle": {
			"0": {
				"altlabel": "",
				"element": "08795744-c2dc-4a68-8252-4e21c4c4c774",
				"separated_by": "separator=[, ]",
				"showlabel": "0"
			}
		},
		"title": {
			"0": {
				"altlabel": "",
				"element": "_itemname",
				"link_to_item": "0",
				"showlabel": "0"
			}
		}
	},
	"blog.article.submission": {
		"content": {
			"0": {
				"altlabel": "",
				"required": "1",
				"element": "_itemname"
			},
			"1": {
				"altlabel": "",
				"required": "1",
				"element": "08795744-c2dc-4a68-8252-4e21c4c4c774"
			},
			"2": {
				"altlabel": "",
				"required": "1",
				"element": "2e3c9e69-1f9e-4647-8d13-4e88094d2790"
			}
		},
		"media": {
			"0": {
				"altlabel": "",
				"required": "0",
				"element": "cdce6654-4e01-4a7f-9ed6-0407709d904c"
			},
			"1": {
				"altlabel": "",
				"required": "0",
				"element": "c26feca6-b2d4-47eb-a74d-b067aaae5b90"
			},
			"2": {
				"altlabel": "",
				"required": "0",
				"element": "ff1ed5b5-4365-457e-98bb-026366028bd7"
			}
		},
		"meta": {
			"0": {
				"altlabel": "",
				"required": "0",
				"element": "fc5a6788-ffae-41d9-a812-3530331fef64"
			},
			"1": {
				"altlabel": "",
				"required": "0",
				"element": "6af341e4-f0e9-4605-b2a5-60d7a3525a96"
			},
			"2": {
				"altlabel": "",
				"required": "0",
				"element": "65b7851d-199f-4ac6-95a7-409ad1bca488"
			},
			"3": {
				"altlabel": "",
				"required": "0",
				"element": "fdcbebaa-e61a-462d-963e-aff74ff95499"
			}
		}
	},
	"blog.article.teaser": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"meta": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"date_format": "%A, %d %B %Y",
				"custom_format": "",
				"element": "_itemcreated"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"linked": "1",
				"separated_by": "separator=[, ]",
				"element": "_itemcategory"
			}
		},
		"media": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"width": "",
				"height": "",
				"link_to_item": "1",
				"element": "cdce6654-4e01-4a7f-9ed6-0407709d904c"
			}
		},
		"content": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[, ]",
				"element": "08795744-c2dc-4a68-8252-4e21c4c4c774"
			}
		},
		"links": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"single_comment_text": "View Comments (%s)",
				"multiple_comments_text": "View Comments (%s)",
				"no_comments_text": "Leave Comment",
				"element": "_itemcommentslink"
			}
		}
	},
	"blog.author.full": {
		"media": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"width": "",
				"height": "",
				"link_to_item": "0",
				"element": "ffefb4ed-8d5d-452a-8794-ea82c013384e"
			}
		},
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"description": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[<div>%s<\/div>]",
				"display": "all",
				"element": "14c0dd9f-ae3c-4eb2-8e22-4e9294ad3120"
			}
		},
		"links": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"cloak": "1",
				"separated_by": "separator=[, ]",
				"element": "ac84af6f-ec56-4228-b421-ba3981399abe"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ | ]",
				"element": "4d431350-4f70-45cc-9922-a973ce0fa61f"
			}
		},
		"article": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"order": {
					"0": "",
					"1": "",
					"2": ""
				},
				"layout": "teaser",
				"link_to_item": "0",
				"separated_by": "tag=[<div>%s<\/div>]",
				"element": "d6540bb8-d194-4bb0-879f-86e07c3f7a17"
			}
		}
	},
	"blog.author.related": {
		"media": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"width": "",
				"height": "",
				"link_to_item": "1",
				"element": "ffefb4ed-8d5d-452a-8794-ea82c013384e"
			}
		},
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"description": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[<div>%s<\/div>]",
				"display": "first",
				"element": "14c0dd9f-ae3c-4eb2-8e22-4e9294ad3120"
			}
		},
		"links": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"cloak": "1",
				"separated_by": "separator=[, ]",
				"element": "ac84af6f-ec56-4228-b421-ba3981399abe"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ | ]",
				"element": "4d431350-4f70-45cc-9922-a973ce0fa61f"
			}
		}
	},
	"blog.author.submission": {
		"content": {
			"0": {
				"altlabel": "",
				"required": "1",
				"element": "_itemname"
			},
			"1": {
				"altlabel": "",
				"required": "0",
				"element": "14c0dd9f-ae3c-4eb2-8e22-4e9294ad3120"
			},
			"2": {
				"altlabel": "",
				"required": "0",
				"element": "ffefb4ed-8d5d-452a-8794-ea82c013384e"
			},
			"3": {
				"altlabel": "",
				"required": "0",
				"element": "ac84af6f-ec56-4228-b421-ba3981399abe"
			},
			"4": {
				"altlabel": "",
				"required": "0",
				"element": "4d431350-4f70-45cc-9922-a973ce0fa61f"
			},
			"5": {
				"altlabel": "",
				"required": "0",
				"element": "d6540bb8-d194-4bb0-879f-86e07c3f7a17"
			}
		}
	},
	"blog.article.edit": {
		"content": {
			"0": {
				"altlabel": "",
				"required": "0",
				"element": "_itemname"
			},
			"1": {
				"altlabel": "",
				"required": "0",
				"element": "08795744-c2dc-4a68-8252-4e21c4c4c774"
			},
			"2": {
				"altlabel": "",
				"required": "0",
				"element": "2e3c9e69-1f9e-4647-8d13-4e88094d2790"
			},
			"3": {
				"altlabel": "",
				"required": "0",
				"element": "cdce6654-4e01-4a7f-9ed6-0407709d904c"
			},
			"4": {
				"altlabel": "",
				"required": "0",
				"element": "c26feca6-b2d4-47eb-a74d-b067aaae5b90"
			},
			"5": {
				"altlabel": "",
				"required": "0",
				"multiple": "1",
				"primary": "0",
				"element": "_itemcategory"
			}
		},
		"media": {
			"0": {
				"altlabel": "",
				"required": "0",
				"element": "0bee21e2-8f88-4f5b-83af-686cd1c7ef4b"
			}
		},
		"meta": {
			"0": {
				"altlabel": "",
				"required": "0",
				"element": "_itemtag"
			},
			"1": {
				"altlabel": "",
				"required": "0",
				"element": "2616ded9-e88b-4b77-a92c-2c4c18bb995f"
			},
			"2": {
				"altlabel": "",
				"required": "0",
				"element": "fc5a6788-ffae-41d9-a812-3530331fef64"
			},
			"3": {
				"altlabel": "",
				"required": "0",
				"element": "65b7851d-199f-4ac6-95a7-409ad1bca488"
			},
			"4": {
				"altlabel": "",
				"required": "0",
				"element": "fdcbebaa-e61a-462d-963e-aff74ff95499"
			}
		},
		"administration": {
			"0": {
				"altlabel": "",
				"required": "0",
				"element": "_itempublish_up"
			},
			"1": {
				"altlabel": "",
				"required": "0",
				"element": "_itempublish_down"
			},
			"2": {
				"altlabel": "",
				"required": "0",
				"element": "_itemfrontpage"
			},
			"3": {
				"altlabel": "",
				"required": "0",
				"element": "_itemaccess"
			},
			"4": {
				"altlabel": "",
				"required": "0",
				"element": "_itemstate"
			},
			"5": {
				"altlabel": "",
				"required": "0",
				"element": "d857d939-47e9-4303-8f37-93b0cecace54"
			},
			"6": {
				"altlabel": "",
				"required": "0",
				"element": "_itemsearchable"
			}
		}
	},
	"blog.author.edit": {
		"content": {
			"0": {
				"altlabel": "",
				"required": "0",
				"element": "_itemname"
			},
			"1": {
				"altlabel": "",
				"required": "0",
				"element": "ac84af6f-ec56-4228-b421-ba3981399abe"
			},
			"2": {
				"altlabel": "",
				"required": "0",
				"element": "4d431350-4f70-45cc-9922-a973ce0fa61f"
			},
			"3": {
				"altlabel": "",
				"required": "0",
				"element": "14c0dd9f-ae3c-4eb2-8e22-4e9294ad3120"
			},
			"4": {
				"altlabel": "",
				"required": "0",
				"element": "ffefb4ed-8d5d-452a-8794-ea82c013384e"
			},
			"5": {
				"altlabel": "",
				"required": "0",
				"multiple": "1",
				"primary": "0",
				"element": "_itemcategory"
			},
			"6": {
				"altlabel": "",
				"required": "0",
				"element": "d6540bb8-d194-4bb0-879f-86e07c3f7a17"
			}
		},
		"meta": {
			"0": {
				"altlabel": "",
				"required": "0",
				"element": "_itemtag"
			}
		},
		"administration": {
			"0": {
				"altlabel": "",
				"required": "0",
				"element": "_itempublish_up"
			},
			"1": {
				"altlabel": "",
				"required": "0",
				"element": "_itempublish_down"
			},
			"2": {
				"altlabel": "",
				"required": "0",
				"element": "_itemaccess"
			},
			"3": {
				"altlabel": "",
				"required": "0",
				"element": "_itemfrontpage"
			},
			"4": {
				"altlabel": "",
				"required": "0",
				"element": "_itemstate"
			},
			"5": {
				"altlabel": "",
				"required": "0",
				"element": "_itemsearchable"
			}
		}
	},
	"blog.vacancy.feed": {
		"description": {
			"0": {
				"altlabel": "",
				"element": "9f93548e-3572-49a2-8630-118628cc3a9a",
				"separated_by": "separator=[ ]",
				"showlabel": "0"
			},
			"1": {
				"altlabel": "",
				"display": "all",
				"element": "32ec61c8-b70f-4e48-8b98-bcaca77dfc6a",
				"separated_by": "tag=[<div>%s<\/div>]",
				"showlabel": "0"
			},
			"2": {
				"altlabel": "",
				"element": "dca36ae6-334a-4033-b15a-afcbdd58109f",
				"layout": "",
				"link_to_item": "0",
				"order": "",
				"separated_by": "separator=[ ]",
				"showlabel": "1"
			}
		}
	},
	"blog.vacancy.full": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"subtitle": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[, ]",
				"element": "9f93548e-3572-49a2-8630-118628cc3a9a"
			}
		},
		"meta": {
			"0": {
				"showlabel": "1",
				"altlabel": "Posted: ",
				"date_format": "%A, %d %B %Y",
				"custom_format": "%B %d %Y.",
				"element": "_itemcreated"
			},
			"1": {
				"showlabel": "1",
				"altlabel": "Posted in",
				"linked": "1",
				"separated_by": "separator=[, ]",
				"element": "_itemcategory"
			}
		},
		"content": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[<div>%s<\/div>]",
				"display": "all",
				"element": "32ec61c8-b70f-4e48-8b98-bcaca77dfc6a"
			}
		}
	},
	"blog.vacancy.related": {
		"content": {
			"0": {
				"altlabel": "",
				"display": "all",
				"element": "32ec61c8-b70f-4e48-8b98-bcaca77dfc6a",
				"separated_by": "tag=[<div>%s<\/div>]",
				"showlabel": "0"
			}
		},
		"media": {
			"0": {
				"altlabel": "",
				"element": "83d8f71f-d747-40eb-808f-a8dbc52ae633",
				"height": "",
				"showlabel": "0",
				"width": ""
			}
		},
		"subtitle": {
			"0": {
				"altlabel": "",
				"element": "9f93548e-3572-49a2-8630-118628cc3a9a",
				"separated_by": "separator=[, ]",
				"showlabel": "0"
			}
		},
		"title": {
			"0": {
				"altlabel": "",
				"element": "_itemname",
				"link_to_item": "0",
				"showlabel": "0"
			}
		}
	},
	"blog.vacancy.submission": {
		"content": {
			"0": {
				"altlabel": "",
				"required": "1",
				"element": "_itemname"
			},
			"1": {
				"altlabel": "",
				"required": "1",
				"element": "9f93548e-3572-49a2-8630-118628cc3a9a"
			},
			"2": {
				"altlabel": "",
				"required": "1",
				"element": "32ec61c8-b70f-4e48-8b98-bcaca77dfc6a"
			}
		},
		"media": {
			"0": {
				"altlabel": "",
				"required": "0",
				"element": "83d8f71f-d747-40eb-808f-a8dbc52ae633"
			},
			"1": {
				"altlabel": "",
				"required": "0",
				"element": "a9eee01b-76d3-4f8d-9351-26d722f64888"
			},
			"2": {
				"altlabel": "",
				"required": "0",
				"element": "ff1ed5b5-4365-457e-98bb-026366028bd7"
			}
		},
		"meta": {
			"0": {
				"altlabel": "",
				"required": "0",
				"element": "dca36ae6-334a-4033-b15a-afcbdd58109f"
			},
			"1": {
				"altlabel": "",
				"required": "0",
				"element": "6af341e4-f0e9-4605-b2a5-60d7a3525a96"
			},
			"2": {
				"altlabel": "",
				"required": "0",
				"element": "22d9697d-e9ac-4002-9f22-7a6bc60ac1d6"
			},
			"3": {
				"altlabel": "",
				"required": "0",
				"element": "5221e96a-9a3a-430e-ad39-7ff5b257b97c"
			}
		}
	},
	"blog.vacancy.teaser": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"meta": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"date_format": "%A, %d %B %Y",
				"custom_format": "%B %d %Y",
				"element": "_itemcreated"
			}
		},
		"media": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"width": "",
				"height": "",
				"link_to_item": "1",
				"element": "a9eee01b-76d3-4f8d-9351-26d722f64888"
			}
		},
		"content": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "9f93548e-3572-49a2-8630-118628cc3a9a"
			}
		},
		"links": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_text": "",
				"element": "_itemlink"
			}
		}
	},
	"blog.vacancy.edit": {
		"content": {
			"0": {
				"altlabel": "",
				"required": "0",
				"element": "_itemname"
			},
			"1": {
				"altlabel": "",
				"required": "0",
				"element": "9f93548e-3572-49a2-8630-118628cc3a9a"
			},
			"2": {
				"altlabel": "",
				"required": "0",
				"element": "32ec61c8-b70f-4e48-8b98-bcaca77dfc6a"
			},
			"3": {
				"altlabel": "",
				"required": "0",
				"element": "83d8f71f-d747-40eb-808f-a8dbc52ae633"
			},
			"4": {
				"altlabel": "",
				"required": "0",
				"element": "a9eee01b-76d3-4f8d-9351-26d722f64888"
			},
			"5": {
				"altlabel": "",
				"required": "0",
				"multiple": "1",
				"primary": "0",
				"element": "_itemcategory"
			}
		},
		"media": {
			"0": {
				"altlabel": "",
				"required": "0",
				"element": "f1dc585c-4ae9-4943-83e4-7fa04f2da058"
			}
		},
		"meta": {
			"0": {
				"altlabel": "",
				"required": "0",
				"element": "_itemtag"
			},
			"1": {
				"altlabel": "",
				"required": "0",
				"element": "d3a28eae-f1e0-44a3-ac9b-dd1942f17f4f"
			},
			"2": {
				"altlabel": "",
				"required": "0",
				"element": "dca36ae6-334a-4033-b15a-afcbdd58109f"
			},
			"3": {
				"altlabel": "",
				"required": "0",
				"element": "22d9697d-e9ac-4002-9f22-7a6bc60ac1d6"
			},
			"4": {
				"altlabel": "",
				"required": "0",
				"element": "5221e96a-9a3a-430e-ad39-7ff5b257b97c"
			}
		},
		"administration": {
			"0": {
				"altlabel": "",
				"required": "0",
				"element": "_itempublish_up"
			},
			"1": {
				"altlabel": "",
				"required": "0",
				"element": "_itempublish_down"
			},
			"2": {
				"altlabel": "",
				"required": "0",
				"element": "_itemfrontpage"
			},
			"3": {
				"altlabel": "",
				"required": "0",
				"element": "_itemaccess"
			},
			"4": {
				"altlabel": "",
				"required": "0",
				"element": "_itemstate"
			},
			"5": {
				"altlabel": "",
				"required": "0",
				"element": "8f45c4b7-a007-48bf-87dc-0128d5282913"
			},
			"6": {
				"altlabel": "",
				"required": "0",
				"element": "_itemsearchable"
			}
		}
	},
	"blog.case-study.teaser": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"subtitle": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "5c457e71-5b6b-4335-9e9b-6ffb842460da"
			}
		},
		"media": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"width": "",
				"height": "",
				"link_to_item": "1",
				"element": "2d355627-6cdd-477b-9133-9124564aec42"
			}
		},
		"content": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"width": "",
				"height": "",
				"link_to_item": "1",
				"element": "73affc4f-1e35-4da7-8ac9-dc332d6e3e2a"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "42f15136-9cb4-49f6-b2c8-231a0833f7e7"
			}
		}
	},
	"blog.case-study.full": {
		"top": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "5c457e71-5b6b-4335-9e9b-6ffb842460da"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			},
			"2": {
				"showlabel": "0",
				"altlabel": "",
				"width": "",
				"height": "",
				"link_to_item": "0",
				"element": "1f7d9ce4-494b-47ef-9993-62c3167c1fb5"
			}
		},
		"media": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"element": "7ad22d5e-7274-415e-80e6-695ee8eed25c"
			}
		},
		"content": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "f8ad42da-bae3-48e5-ab57-60144006da8a"
			}
		},
		"related": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"order": {
					"0": "_itemname",
					"1": "",
					"2": "",
					"3": "",
					"4": ""
				},
				"layout": "teaser",
				"link_to_item": "1",
				"separated_by": "tag=[<li>%s<\/li>]",
				"element": "2b71c46d-c3e7-4fdd-9c3b-42866c39a025"
			}
		},
		"author": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"element": "de612ef7-81e6-4eda-8577-c5daa54a80b4"
			}
		}
	},
	"blog.case-study.edit": {
		"content": {
			"0": {
				"altlabel": "",
				"required": "0",
				"element": "5c457e71-5b6b-4335-9e9b-6ffb842460da"
			}
		}
	},
	"blog.video.teaser": {
		"media": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "6b7f4a1b-7dc9-4ea9-afe0-824e5033d4de"
			}
		},
		"content": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "c8a033f2-cef4-41f4-b01f-279ddb7a6984"
			}
		}
	},
	"blog.event.teaser": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"subtitle": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"date_format": "%A, %d %B %Y",
				"custom_format": "",
				"separated_by": "separator=[ ]",
				"element": "4b72b54d-884d-46a1-988f-56079564dcf7"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "ddebe4c0-1322-4c9b-a039-38d350a79cf9"
			}
		},
		"media": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"width": "",
				"height": "",
				"link_to_item": "0",
				"element": "5f2d722c-cb33-43f1-84a1-c612ff9f5dea"
			}
		},
		"content": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "6242bf83-03da-4ea0-adce-61cba0e6578c"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "beb81268-1c80-4b3d-8b40-933f72513f51"
			}
		},
		"links": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "7a173a02-8704-4921-ba9b-8f0289d09842"
			}
		}
	},
	"blog.event.full": {
		"top": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"date_format": "%A, %d %B %Y",
				"custom_format": "",
				"separated_by": "separator=[ ]",
				"element": "4b72b54d-884d-46a1-988f-56079564dcf7"
			},
			"2": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "ddebe4c0-1322-4c9b-a039-38d350a79cf9"
			}
		},
		"media": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"width": "",
				"height": "",
				"link_to_item": "0",
				"element": "5f2d722c-cb33-43f1-84a1-c612ff9f5dea"
			}
		},
		"content": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "beb81268-1c80-4b3d-8b40-933f72513f51"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "5104b384-4926-4f29-8b6b-07e7a9f00eec"
			}
		}
	},
	"blog.case-study.feed": {

	},
	"blog.video.full": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"subtitle": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"date_format": "%A, %d %B %Y",
				"custom_format": "",
				"element": "_itempublish_up"
			}
		},
		"content": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "6b7f4a1b-7dc9-4ea9-afe0-824e5033d4de"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "c8a033f2-cef4-41f4-b01f-279ddb7a6984"
			}
		}
	}
}