/***************************
****************************

NAME: _variables.scss
SITE: Eckoh
DESCRIPTION: All variables for the website
-------------------------------------

AUTHOR: Charlotte Osborne
DATE CREATED: 13/12/2018
LAST MODIFIED DATE: Rebecca Allenby
LAST MODIFIED BY: 23/12/2021

****************************
***************************/


//PRIMARY COLOURS

$red: #ad1d40;
$lightred: #c60b46;
$darkgrey: #A7A9AC;
$lightgrey: #D0D0CE;
$darkergrey: #252525;
$greymenu:#e7e7e6;


//SECONDARY COLOURS

$blue: #00afdb;
$aqua: #189886;
$deepgreen: #29c6b9;
$purple: #7923b0;
$orange: #ff7800;
$brightgreen: #7ac143;


//FONTS 

$font1: 'Poppins', 'Open Sans', 'Arial', sans-serif;